{% set user_agent = "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko)
Chrome/91.0.4472.124 Safari/537.36" %}
{% set source = "https://spotthestation.nasa.gov/widget/widget.cfm?country=" + pais|urlencode + "&region=None&city=" +
ciudad|urlencode + "&theme=2" %}

<div class="widget-container">
    <iframe id="nasa" src='{{source}}' frameborder='0' width="100%" scrolling="no"></iframe>
</div>

<style>
    .widget-container {
        display: block;
        margin: 1em 0;
        border: 1px solid #CCC;
        border-radius: 6px;
        position: relative;
        overflow: hidden;
        width: 95%;
        height: 450px;
        z-index: 1;
    }

    #nasa {
        width: 1px;
        min-width: 100%;
        width: 100%;
        height: 100%;
        border: none;
    }
</style>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var iframe = document.getElementById('nasa');
        iframe.onload = function () {
            try {
                var iframeDoc = iframe.contentDocument || iframe.contentWindow.document;
                var meta = iframeDoc.createElement('meta');
                meta.name = 'viewport';
                meta.content = 'width=device-width, initial-scale=1, maximum-scale=1';
                iframeDoc.head.appendChild(meta);

                var userAgentMeta = iframeDoc.createElement('meta');
                userAgentMeta.name = 'user-agent';
                userAgentMeta.content = '{{user_agent}}';
                iframeDoc.head.appendChild(userAgentMeta);

                // Añadir estilos al contenido del iframe
                var style = iframeDoc.createElement('style');
                style.textContent = 'body { width: 100% !important; max-width: none !important; }';
                iframeDoc.head.appendChild(style);
            } catch (e) {
                console.error('No se pudo modificar el contenido del iframe:', e);
            }
        };

        iframe.onerror = function () {
            console.error('Error al cargar el iframe');
            iframe.srcdoc = '<p>Lo sentimos, no se pudo cargar el widget. Por favor, inténtelo de nuevo más tarde.</p>';
        };
    });
</script>