<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Mapa de la ISS</title>
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
    <link rel="stylesheet" href="{{url_for('static',filename='css/mapa.css')}}">
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.css' rel='stylesheet' />
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.21.13/dist/css/uikit.min.css" />
    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.21.13/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.21.13/dist/js/uikit-icons.min.js"></script>
    <!-- include the jQuery and jQuery UI scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-ui-Slider-Pips/1.11.4/jquery-ui-slider-pips.min.js"></script>
    <link rel="stylesheet" href="{{url_for('static',filename='css/slider.css')}}" />
    <script src="https://unpkg.com/htmx.org@2.0.3"></script>
    <script src="{{url_for('static',filename='js/ciudades.js')}}"></script>
    <script src="{{url_for('static',filename='js/contador.js')}}"></script>


    <!-- plus a jQuery UI theme, here I use "flick" -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.4/themes/flick/jquery-ui.css">


</head>

<body>


    <!-- This is a button toggling the off-canvas  BOTON QUE EXPANDE DESPLEGABLE OPCIONES-->
    <button uk-toggle="target: #my-id" type="button" style="z-index: 1;position: fixed;border-radius: 0.5em;
    top:3em;left: 3em; font-size: 1.5em;padding: 0.5em;cursor: pointer;">
        Ver opciones
    </button>



    <!-- This is the off-canvas  DESPLEGABLE DE OPCIONES-->
    <div id="my-id" uk-offcanvas>


        <div class="uk-offcanvas-bar" style="width: 600px !important;">

            <ul style="z-index: 1;float: left; margin-bottom: 2em;">
                <li id="latitud" style="z-index: 1;font-size: 1em;"></li>
                <li id="longitud" style="z-index: 1;font-size: 1em;"></li>
                <li id="contador" style="color: yellow;z-index: 1;">contador</li>
            </ul>

            <button onclick="centrarMapa()" style="z-index: 1;border-radius: 0.5em;width: 80%;
            font-size: 1.5em;padding: 0.5em;display: block;margin-bottom: 1em;cursor:pointer ;">Trayectoria IIS en
                tiempo real</button>
            <button onclick="lista_xml()" style="z-index: 1;border-radius: 0.5em;width: 80%;
            font-size: 1.5em;padding: 0.5em;display: block;margin-bottom: 1em;cursor: pointer;">Predicción de
                Trayectoria y días anteriores</button>
            <button id="borrar_xml" onclick="borrar_xml()" style="z-index: 1;border-radius: 0.5em;width: 80%;
            font-size: 1.5em;padding: 0.5em;display: block;margin-bottom: 1em;cursor: pointer;display: none;">Borrar
                puntos predicciones</button>

            <div class="slider-container">
                <div id="sliderHandle">
                    <div id="custom-handle" class="ui-slider-handle"></div>
                </div>
            </div>
            <input id="hideKeyboard" style="position: absolute; left: 0px; top: -20px; z-index: -1;" type="text"
                name="hideKeyboard" readonly="readonly" />
            <input id="caja-buscar" onkeypress="return event.keyCode != 13;" class="uk-input"
                placeholder="busca (Pais,Ciudad,Rio,Lago...)" autocomplete="off" type="text"
                style="width: 80%;margin-top: -1.2em;" name="buscador" hx-get="/obtener_coordenadas_ciudad"
                hx-target="#ciudad" hx-trigger="keyup changed delay:1000ms" hx-swap="innerHTML "
                hx-on::after-request="this.blur()">

            <span id="limpiar" onclick="limpiar_caja()" style=" font-size: 2.6em; 
                 border: solid 1px rgb(151, 149, 149);background-color: darkgray;cursor: pointer;">X</span>
            <!-- siguiente div es zona de inyección hTMX -->
            <div id="ciudad" style="margin-top:0.3em;width: 85%;"></div>








            <ul uk-accordion="collapsible: true" style="background-color:rgb(60, 61, 61);width: 95%;">
                <li>
                    <a class="uk-accordion-title"
                        style="background-color:rgb(60, 61, 61);padding: 0.5em;border-bottom: 1px solid white;width: 95%;">Tags
                        favoritos</a>
                    <div class="uk-accordion-content" style="width: 95%;">
                        <div id="SA" class="uk-badge ciudades" style="color:white !important">America del Sur</div>
                        <div id="NA" class="uk-badge ciudades" style="color:white !important">America del Norte</div>
                        <div id="dublin" class="uk-badge ciudades" style="color:white !important">Dublín</div>
                        <div id="londres" class="uk-badge ciudades" style="color:white !important">London</div>
                        <div id="trinidad" class="uk-badge ciudades" style="color:white !important">Trinidad y Tobago
                        </div>
                        <div id="habana" class="uk-badge ciudades" style="color:white !important">La Habana</div>
                        <div id="vancouver" class="uk-badge ciudades" style="color:white !important">Vancouver</div>
                        <div id="madrid" class="uk-badge ciudades" style="color:white !important">Madrid</div>
                        <div id="huelva" class="uk-badge ciudades" style="color:white !important">Huelva</div>
                        <div id="paris" class="uk-badge ciudades" style="color:white !important">París</div>
                        <div id="caracas" class="uk-badge ciudades" style="color:white !important">Caracas</div>
                        <div id="mallorca" class="uk-badge ciudades" style="color:white !important">Mallorca</div>
                    </div>
                </li>
                <li>
                    <a class="uk-accordion-title"
                        style="background-color:rgb(60, 61, 61);padding: 0.5em;width: 95%;border-bottom: 1px solid white">Consultar
                        días de visibilidad</a>
                    <div class="uk-accordion-content" style="width: 95%;">
                        <form style="width: 100%;">


                            <select id="country" class="uk-select" name="country" required="" width="20" title="Country"
                                style="outline: none;" hx-get="/ciudades" hx-target="#select-ciudades"
                                hx-trigger="change" hx-swap="innerHTML ">
                                <option value="">Seleccionar País</option>
                                <option value="Argentina">Argentina</option>
                                <option value="Australia">Australia</option>
                                <option value="Brazil">Brasil</option>
                                <option value="Canada">Canadá</option>
                                <option value="Chile">Chile</option>
                                <option value="China">China</option>
                                <option value="Colombia">Colombia</option>
                                <option value="Ecuador">Ecuador</option>
                                <option value="Egypt">Egipto</option>
                                <option value="France">Francia</option>
                                <option value="Germany">Alemania</option>
                                <option value="India">India</option>
                                <option value="Indonesia">Indonesia</option>
                                <option value="Italy">Italia</option>
                                <option value="Japan">Japón</option>
                                <option value="Kenya">Kenia</option>
                                <option value="Mexico">México</option>
                                <option value="Morocco">Marruecos</option>
                                <option value="New_Zealand">Nueva Zelanda</option>
                                <option value="Nigeria">Nigeria</option>
                                <option value="Peru">Perú</option>
                                <option value="Russia">Rusia</option>
                                <option value="Saudi_Arabia">Arabia Saudita</option>
                                <option value="South_Africa">Sudáfrica</option>
                                <option value="South_Korea">Corea del Sur</option>
                                <option value="Spain">España</option>
                                <option value="United_Arab_Emirates">Emiratos Árabes Unidos</option>
                                <option value="United_Kingdom">Reino Unido</option>
                                <option value="United_States">Estados Unidos</option>
                            </select>
                            </select>
                            <div id="select-ciudades"></div>
                            <div id="pasos" style="width: 100% !important;"></div>

                        </form>
                    </div>
                </li>

            </ul>
            <button id="cerrar-aside" class="uk-offcanvas-close" type="button" uk-close></button>

        </div>

    </div>




    <div id="map"></div>
    <script>
        var map, marker;
        var nuevaLatitud, nuevaLongitud;
        var zoomy = 0.8

        function lista_xml() {
            document.getElementById('borrar_xml').style.display = "block"
            var ubicaciones = JSON.parse('{{ lista | tojson | safe }}');



            // Eliminar capas y fuentes existentes si las hay
            ['iss-points'].forEach(function (layer) {
                if (map.getLayer(layer)) map.removeLayer(layer);
                if (map.getSource(layer)) map.removeSource(layer);
            });

            // Crear array de coordenadas para los puntos
            var coordinates = ubicaciones.map(function (ubicacion) {
                return [parseFloat(ubicacion[1]), parseFloat(ubicacion[0])];
            }).filter(coord => !isNaN(coord[0]) && !isNaN(coord[1]));

            // Añadir la fuente y la capa de los puntos
            map.addSource('iss-points', {
                'type': 'geojson',
                'data': {
                    'type': 'FeatureCollection',
                    'features': coordinates.map(function (coord) {
                        return {
                            'type': 'Feature',
                            'geometry': {
                                'type': 'Point',
                                'coordinates': coord
                            }
                        };
                    })
                }

            });

            map.addLayer({
                'id': 'iss-points',
                'type': 'circle',
                'source': 'iss-points',
                'paint': {
                    'circle-radius': 3,
                    'circle-color': '#ff0000',
                    'circle-opacity': 0.8
                }

            });

            // Ajustar la vista del mapa
            var bounds = coordinates.reduce(function (bounds, coord) {
                return bounds.extend(coord);
            }, new mapboxgl.LngLatBounds(coordinates[0], coordinates[0]));

            map.fitBounds(bounds, {
                padding: 50,
                maxZoom: 15,
                duration: 2000
            });

            document.getElementById('cerrar-aside').click()
        }

        function borrar_xml() {

            // Eliminar capas y fuentes existentes si las hay
            ['iss-points'].forEach(function (layer) {
                if (map.getLayer(layer)) map.removeLayer(layer);
                if (map.getSource(layer)) map.removeSource(layer);
            });
            document.getElementById('borrar_xml').style.display = "none"

            document.getElementById('cerrar-aside').click()
        }

        function actualizarUbicacion() {
            fetch('/actualizar_ubicacion')
                .then(response => response.json())
                .then(data => {
                    if (data && data.latitud && data.longitud) {
                        nuevaLatitud = data.latitud;
                        nuevaLongitud = data.longitud;
                        document.getElementById('latitud').innerText = "Lat.: " + nuevaLatitud
                        document.getElementById('longitud').innerText = "Long: " + nuevaLongitud




                        // Crear y añadir el nuevo marcador
                        var el = document.createElement('div');
                        el.className = 'marker';

                        marker = new mapboxgl.Marker(el)
                            .setLngLat([nuevaLongitud, nuevaLatitud])
                            .addTo(map);

                        // Actualizar la vista del mapa
                        map.flyTo({
                            /*     center: [nuevaLongitud, nuevaLatitud], */
                            essential: true,
                            duration: 1000
                        });

                        console.log('Ubicación actualizada:', nuevaLatitud, nuevaLongitud);
                    }
                })
                .catch(error => console.error('Error:', error));
        }

        function inicializarMapa() {
            var ubicacion = JSON.parse('{{ ubicacion | tojson | safe }}');
            mapboxgl.accessToken = 'pk.eyJ1IjoiZ2EtZWR1YXJkbyIsImEiOiJjbDVmNzQyY3kwaHJpM2pvM29lOWVuZnVlIn0.a20bgkRxwewC43RomqCQ9g';

            map = new mapboxgl.Map({
                container: 'map',
                style: 'mapbox://styles/mapbox/satellite-streets-v12',
                center: [ubicacion[1], ubicacion[0]],
                zoom: zoomy,
                projection: 'globe'
            });

            marker = new mapboxgl.Marker()
                .setLngLat([ubicacion[1], ubicacion[0]])
                .addTo(map);

            map.on('zoom', function () {
                zoomy = map.getZoom();
                $("#sliderHandle").slider("value", zoomy);
                $("#custom-handle").text(zoomy.toFixed(1));
            });
        }





        function centrarMapa() {

            if (map && marker) {
                if (screen.width < 1200) {
                    document.getElementById('cerrar-aside').click()
                }
                map.flyTo({
                    center: [nuevaLongitud, nuevaLatitud],
                    zoom: zoomy,
                    duration: 1000,

                });
            }
            document.getElementById('cerrar-aside').click()
            borrar_xml()
        }

        function go_zoom() {
            if (map && marker) {

                map.flyTo({
                    /*   center: [nuevaLongitud, nuevaLatitud], */
                    zoom: zoomy,
                    speed: 0.2,

                });
            }
        }

        $(function () {
            var handle = $("#custom-handle");
            $("#sliderHandle").slider({
                range: 'min',
                min: 0,
                max: 23,
                values: 0,
                step: 1,
                create: function () {
                    handle.text($(this).slider("value"));
                },
                slide: function (event, ui) {
                    handle.text(ui.value);
                    zoomy = ui.value
                    go_zoom()
                }
            });
        });



        document.addEventListener('DOMContentLoaded', inicializarMapa);
        // Volver a activar la actualización automática cada segundo
        setInterval(actualizarUbicacion, 1000);


        function limpiar_caja() {
            document.getElementById('caja-buscar').value = ""
            document.getElementById('caja-buscar').focus()

        }




    </script>
</body>

</html>